@charset "utf-8";
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* 전체 설정 */
* {margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {color: #333; text-decoration: none; font-family: 'Noto Sans KR', sans-serif;}
img {vertical-align: bottom;}
body {color: #333; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}



/* 헤더 --------------------------- */

header {
    width: 100vw;
    height: 500px;
    background-image: url(img/header_bg.jpg);
    background-size: cover;
    background-position: top center;
    /* background-color: yellow; */
}
header .gnb_01_wrap {
    width: 100vw;
    height: 170px;
    border-bottom: 1px #f6f6f6 solid;
}

header .gnb_01 {
    position: relative;
    width: 75vw;
    height: 170px;
    max-width: 1436px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header .wrap2 {
    width: 100vw;
    height: 330px;
    /* background-color: yellowgreen; */

    transform: translateY(50px);
    opacity: 0;
    transition: all 1.2s ease;
}
header .wrap2.on {
    transform: translateY(0px);
    opacity: 1;
}



/*  gnb_01 - 로고 ------------------------------ */
header h1 {
    width: 265px;
    height: 70px;
    transform: translateY(-20px);
}
header h1 img {
    height: 100%;
    width: auto;
}

/* gnb_01 - 유틸리티 검색창 ---------------------- */
header .util {
    /* background-color: pink; */
    width: 150px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 40px;
    margin-top: 30px;
}

header .util i {
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -6px;
    color: #fff;
    font-size: 12px;
}
header .util form {
    width: 80%;
    height: 100%;

}
header .util form input {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding-left: 20px;
    transition: all 0.3s;
}
header .util form input:focus {
    outline: none;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
}
header .util form input::placeholder {
    color: #ccc;
}



/* gnb_01 - 1뎁스 메뉴 ------------------------- */


header .menu_wrap {}
header .menu_depth1 {
    width: 800px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* transform: translateY(40px); */
}
header .menu_depth1 li {
    width: 20%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu_depth1 li a {
    display: block;
    /* background-color: pink; */
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}


/* gnb_01 - 2뎁스 메뉴 ------------------------------ */
header .menu_depth2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin-top: 170px;
    width: 800px;
    height: 250px;
    border-top: 1px solid #fff;
    background-color: #fff;
    display: none;
    justify-content: space-between;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
header .menu_depth2.on {
    display: flex;
}
header .menu_depth2 ul {
    width: 20%;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    transition: all 0.1s ease;
}
header .menu_depth2 ul:hover {
    background-color: #4871DF;
}
header  .menu_depth2 ul:hover a {
    color: #fff;
}
header .menu_depth2 li {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu_depth2 li a {
    display: block;
    color: #666;
    font-size: 16px;
}
header .menu_depth2 li a:hover {
    font-weight: bold;
}



/* gnb_02 스크롤 시 나타나는 메뉴 --------------- */

.gnb_02_wrap {
    width: 100vw;
    height: 90px;
    background-color: #4871DF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: none;
}
.gnb_02_wrap.show {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
}
.gnb_02 {
    position: relative;
    width: 75vw;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb_02 h1 {
    height: 50px;
    transform: translateX(30px) translateY(0);
}
.gnb_02 .menu_depth1 {
    transform: translateY(0);
}
.gnb_02 .menu_depth2 {
    margin-top: 90px;
}


/* 카테고리 제목 ------------------------------ */
header .wrap2 h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    transform: translateY(87px);
}



/* 메인 콘텐츠 -------------------------------- */
main {
    position: relative;
    width: 75vw;
    height: 2100px;
    max-width: 1440px;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


/* 메인의 네비게이션 ---------------------------------- */
main nav {
    width: 100%;
    height: 20px;
    /* background-color: pink; */
    padding-top: 60px;
}
main nav ul {
    width: 86%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}
main nav ul li {
    margin-right: 10px;
}
main nav ul li a {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    transition: all 0.2s;
}
main nav ul li a:hover {
    font-weight: bold;
}

main nav ul li span {
    margin-right: 5px;
    display: block;
    width: 8px;
    height: 8px;
    border-right: #666 solid 1px;
    border-bottom: #666 solid 1px;
    transform: rotate(-45deg);
}


/* 컨텐츠 내용 부분 --------------------- */

article {
    width: 86%;
    height: 100%;
    /* background-color: beige; */
    margin: 0 auto;
}


/* sec01 - 텃밭 어드벤처 소개 --------------- */

article .sec01 {
    width: 100%;
    height: 930px;
    /* background-color: pink; */
    margin-top: 70px;
}
article .sec01.on h3 {
    opacity: 1;
    transform: translateY(0);
}
article .sec01.on .table {
    opacity: 1;
    transform: translateY(0);
}
article .sec01.on .con02 {
    opacity: 1;
    transform: translateY(0);
}
article .sec01.on .con03 {
    opacity: 1;
    transform: translateY(0);
}


/* 글 소제목 부분 ------------------------- */

article h3 {
    display: flex;
    align-items: center;

    transform: translateY(50px);
    opacity: 0;
    transition: all 1.2s ease;
}
article h3 strong {
    display: inline-block;
    font-size: 36px;
    box-shadow: 0 -20px 0 rgba(72, 112, 223, 0.2) inset;
}
article h3 span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid #4871DF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-right: 15px;
}



/* 테이블 부분 ------------------------------ */
article .sec01 .table {
    width: 100%;
    height: 120px;
    margin-top: 60px;
    /* background-color: gray; */
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.2s ease;
}

article .sec01 .table table {
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-bottom: 2px solid #eee;
}

article table tr:nth-child(1) {
    background-color: #eee;
}

article table tr:nth-child(2) {
    text-align: center;
    border-bottom: 1px solid #333;
}
article table th {
    width: 25%;
    height: 40%;
}
article table td {
    width: 25%;
    height: 60%;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



/* 이미지 및 세부 텍스트 ---------------------- */
article .sec01 .con02, .con03 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    transform: translateY(100px);
    opacity: 0;
    transition: all 1.2s ease;
}

article .sec01 .img {
    width: 48%;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* background-color: aquamarine; */
}
article .sec01 .img img {
    width: auto;
    height: 100%;
}
article .sec01 .txt {
    width: 48%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article .sec01 .txt strong {
    font-size: 24px;
    font-weight: bold;
}
article .sec01 .txt p {
    margin-top: 15px;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}



/* sec02 - 참여자 후기 ---------------------- */
article .sec02 {
    width: 100%;
    height: 422px;
    /* background-color: pink; */
    margin-top: 180px;
}
article .sec02.on h3 {
    opacity: 1;
    transform: translateY(0);
}
article .sec02.on .bubbles {
    opacity: 1;
    transform: translateY(0);
}


article .bubble_wrap {
    display: flex;
    flex-direction: column;
}

article .sec02 .bubbles {
    width: 848px;
    height: 100px;
    background-image: url(img/bubble_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transform: translateY(100px);
    opacity: 0;
    transition: all 1.2s ease;
}

article .sec02 .bubble01 {
    margin-top: 40px;
}

article .sec02 .bubble02 {
    background-image: url(img/bubble_gray.png);
    align-self: end;
}

article .sec02 .bubbles ul {
    display: flex;
    justify-content: center;
}
article .sec02 .bubbles ul li:nth-child(1) {
    margin-right: 60px;
    font-size: 18px;
    color: #333;
}
article .sec02 .bubbles ul li:nth-child(2) {
    font-size: 18px;
    color: #999;
}



article .btn {
    width: 100%;
    height: 60px;
    margin-top: 150px;
}
article .btn ul {
    /* background-color: red; */
    width: 840px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
article .btn ul li {
    width: 400px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
article .btn ul li a {
    font-size: 24px;
    text-align: center;
}


article .btn ul li:nth-child(1) {
    background-color: #f6f6f6;
}
article .btn ul li:nth-child(1) a {
    color: #666;
}
article .btn ul li:nth-child(2) {
    margin-left: 40px;
    border: 2px #4871DF solid;
}
article .btn ul li:nth-child(2) a {
    color: #4871DF;
    font-weight: bold;
}
article .btn ul li:nth-child(2):hover {
    background-color: #4871DF;
}
article .btn ul li:nth-child(2):hover a {
    color: #fff;
}



/* 푸터 ------------------------------------- */

footer {
    width: 100vw;
    height: 600px;
    background-color: #333333;
    color: #fff;
    padding-top: 120px;
    box-sizing: border-box;

}

.footer_inner {
    width: 75vw;
    max-width: 1440px;
    margin: 0 auto;
}

/* 푸터메뉴와 sns아이콘 정렬 */
footer .menu_sns {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}



/* 푸터의 메뉴 설정 */

.footer_menu {
    /* background-color: yellowgreen; */
    display: flex;
    width: 70%;
    height: 220px;
}

.footer_menu ul {
    width: 20%;
}

.footer_menu li {
    margin-bottom: 10px;
}

.footer_menu ul li:nth-child(1) a {
    font-size: 18px;
    font-weight: bold;
}

.footer_menu a {
    font-size: 17px;
    color: #fff;
}



/* 푸터의 sns 아이콘 설정 */

.footer_sns {
    /* background-color: gray; */
    width: 30%;
    height: 70px;
}

.footer_sns ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.footer_sns li {
    width: 20%;
    height: 100%;
    margin-left: 10px;
}

.footer_sns a {
    color: #fff;
    text-align: center;
}

.footer_sns div {
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;

    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_sns img {
    width: 100%;
    height: auto;
}

.footer_sns p {
    /* background-color: aquamarine; */
}



/* 푸터하단 로고와 카피라이트 */

.copyright {
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    margin-top: 80px;
}

.copyright .logo {
    width: 30%;
    height: 100%;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    text-indent: -9999px;
}

.copyright p {
    width: 70%;
}
